body{
  padding: 50px;
  background-color: #eef269;
 }
 h1{
  padding: 10px;
  margin-bottom: 30px;
 }
a{
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  input,.form-control{
    display : inline-block !important;
    width: 300px !important;
    margin-bottom: 15px !important;
  }
  h2{
    font-size : 20px;
  }
  
}