body{
  padding: 50px;
  background: url("Images/SchoolBackgroundGray.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  width:100%;
  background-size: cover;
/*  background-color: #008080;
*/ }
input{
  width:200px;
}
 h1{
  padding: 10px;
  margin-bottom: 30px;
  color: white;
 }
h5{
  padding: 10px;
  margin-bottom:30px;
}
h2{
  font-size: 20px;
  color: white;
}
#footer{
  position: absolute;
  margin-bottom: 10px
}
a{
  color:white;
}
button{
  padding: 0;
  background-color: transparent;
  border: none;
  color: #fefbef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 100%;
  /*width:250px;
  color:red;*/
}
@media only screen and (max-width: 768px) {
  /* For Mobile: */
  input,.form-control{
    /*display : inline-block !important;*/
    width: 250px !important;
    /*margin-bottom: 15px !important;*/
  }
  h2{
    font-size : 20px;
  }
  
}