body{
  padding: 50px;
  background-image: url("Images/PencilBackground.jpg");
  position: absolute;
  width:100%;
  background-size: auto;
/*  background-color: #008080;
*/ }
input{
  width:200px;
}
 h1{
  padding: 10px;
  margin-bottom: 30px;
  color: white;
 }
h5{
  padding: 10px;
  margin-bottom:30px;
}
h2{
  font-size: 20px;
  color: white;
}
#footer{
  position: absolute;
  margin-bottom: 10px
}
a{
  color:white;
}
button{
  width:250px;
}
@media only screen and (max-width: 767px) {
  input,.form-control{
    display : inline-block !important;
    width: 300px !important;
    margin-bottom: 15px !important;
  }
  h2{
    font-size : 20px;
  }
  
}